{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard-Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img_2/favicon.png' %}" rel="icon">
  <link href="{% static 'img_2/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- vendor_2 CSS Files -->
  <link href="{% static 'vendor_2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css_2/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'cb-admin' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img_2/logo.png' %}" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img_2/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{request.user}}</h6>
              <span>Web Designer</span>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'cb-admin' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'database' %}">
          <i class="bi bi-layout-text-window-reverse"></i><span>Database Keluarga</span>
        </a>

      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'akun' %}">
          <i class="bi bi-card-list"></i>
          <span>Akun</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'report' %}">
          <i class="bi bi-journal-text"></i>
          <span>Laporan</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'login' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->
  {% block content %}
  {% endblock content %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright from <strong><span>Husain Only</span></strong> 2023
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor_2/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor_2/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor_2/chart' %}/chart.umd.js' %}"></script>
  <script src="{% static 'vendor_2/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor_2/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor_2/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor_2/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor_2/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js_2/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
    {% for msg in messages %}
      {% if msg.tags == "success" %}
      Swal.fire({
        
        icon: 'success',
        title: 'Sukses',
        text: '{{ msg }}',
        timer: 1700,
        showConfirmButton: false,
      });
      {% elif msg.tags == 'warning' %}
      Swal.fire({
        
        icon: 'warning',
        title: 'Warning',
        text: '{{ msg }}',
        timer: 2500,
        showConfirmButton: false,
      });
      {% elif msg.tags == 'error' %}
      Swal.fire({
        
        icon: 'error',
        title: 'Error',
        text: '{{ msg }}',
        timer: 2500,
        showConfirmButton: false,
      });
      {% endif %}

    {% endfor %}
  </script>
  <script type="text/javascript">
    $('.show_confirm').click(function(event) {
      var form = $(this).closest("form");
      var name = $(this).data("name");
      event.preventDefault();
      swal.fire({
        title: "HAPUS Data?",
        text: "Yakin Data Akan Dihapus.",
        icon: "warning",
        // buttons: true,
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Hapus'
      })
      .then((willDelete) => {
        if (willDelete.isConfirmed) {
          form.submit();
          Swal.fire('Sukses','Data Terhapus.','success');
          // return redirect('tambah-tahun');
        }
      });
    });
  </script>

</body>

</html>