{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register Akun</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img_2/favicon.png' %}" rel="icon">
  <link href="{% static 'img_2/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- vendor_2 CSS Files -->
  <link href="{% static 'vendor_2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor_2/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css_2/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'akun' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'img_2/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">Admin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Tambah Keluarga</h5>
                  </div>

                  <form method="POST" class="row g-3 needs-validation"  action="">
                    {% csrf_token %}
                    
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Nama Lengkap</label>
                      {{ form.name | as_crispy_field}}
                      <div class="invalid-feedback">Please enter full Name</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                      {{ form.email | as_crispy_field}}
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">No HP</label>
                      {{ form.no_hp | as_crispy_field}}
                      <div class="invalid-feedback">Please enter your phoneNumber</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Tgl Lahir</label>
                      {{ form.tgl_lahir | as_crispy_field}}
                      <div class="invalid-feedback">Please enter your dateBirth</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Negara</label>
                      {{ form.negara | as_crispy_field}}
                      <div class="invalid-feedback">Please enter your Country</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Kota</label>
                      {{ form.kota | as_crispy_field}}
                      <div class="invalid-feedback">Please enter your City</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Simpan</button>
                    </div>
                    <!-- <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
                    </div> -->
                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- vendor_2 JS Files -->
  <script src="{% static 'vendor_2/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor_2/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor_2/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor_2/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor_2/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor_2/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor_2/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor_2/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js_2/main.js' %}"></script>

</body>

</html>